[submodule "Meddy-SDK"]
	path = Meddy-SDK
	url = https://github.com/ChristianHinko/Meddy-SDK.git
[submodule "MudBlazorExtension"]
	path = MudBlazorExtension
	url = https://github.com/ChristianHinko/MudBlazorExtension.git
