[submodule "Meddy-Library"]
	path = Meddy-Library
	url = https://github.com/ChristianHinko/Meddy-Library.git
[submodule "MudBlazorExtension"]
	path = MudBlazorExtension
	url = https://github.com/ChristianHinko/MudBlazorExtension.git
